<div class="bg-dark p-3 mt-2 text-white">
    <hr class="border-light">
    <div class="container">
        <!-- Social Media Icons -->
        <div class="text-right mb-3">
            <a href="https://wa.me/9390338255" target="_blank" class="text-white mx-2" title="WhatsApp">
                <i class="fab fa-whatsapp fa-2x"></i>
            </a>
            <a href="https://www.facebook.com/" target="_blank" class="text-white mx-2" title="Facebook">
                <i class="fab fa-facebook fa-2x"></i>
            </a>
            <a href="https://www.instagram.com/" target="_blank" class="text-white mx-2" title="Instagram">
                <i class="fab fa-instagram fa-2x"></i>
            </a>
        </div>

        <!-- Personal Details -->
        <div class="text-right">
            <p class="p-0 m-0"><strong>Name:</strong> M. Vignesh</p>
            <p class="p-0 m-0"><strong>Email:</strong> <a href="mailto:vigneshmakala@gmail.com" class="text-white text-decoration-none">vigneshmakala@gmail.com</a></p>
            <p class="p-0 m-0"><strong>Contact No:</strong> <a href="tel:+919390338255" class="text-white text-decoration-none">+91 9390338255</a></p>
            <p class="p-0 m-0"><strong>Address:</strong> 3-167-41/A, Sri Rama Nagar Colony, Suraram, Hyderabad - 500055</p>
        </div>

        <!-- Copyright -->
        <p class="text-center p-0 mt-3">Copyright © 2025 Car Zone | MAKALA VIGNESH</p>
    </div>
</div>